<div class="tab-pane fade" id="v-pills-pozosventilacion" role="tabpanel"
     aria-labelledby="v-pills-pozosventilacion-tab">


    <div class="card ">
        <h5 class="card-header text-white ">Pozos Ventilación</h5>
        <div class="card-body">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td colspan="12">
                            <p>Nota: la numeración de los ventiladores #x es como aparecen en maximo</p>
                        </td>
                    </tr>

                    <tr class="text-center">
                        <th>Linea</th>
                        <th>Pozo</th>
                        <th colspan="2">Ventiladores </th>
                        <th colspan="2">Descripción</th>
                    </tr>
                </thead>

                <tbody id="myTable">

                    <tr>
                        <td>L1</td>
                        <td>Pozo 1</td>
                        <td>VEX 01 #1</td>
                        <td></td>
                        <td>Saco Centro de los Héroes</td>
                    </tr>

                    <tr>
                        <td>L1</td>
                        <td>Pozo 2</td>
                        <td>VEX 01 #2</td>
                        <td>VEX 02 #3</td>
                        <td>Centro de los Héroes - Francisco Caamaño</td>
                    </tr>

                    <tr>
                        <td>L1</td>
                        <td>Pozo 3</td>
                        <td>VEX 01 #4</td>
                        <td>VEX 02 #5</td>
                        <td>Francisco Caamaño - Amín Abel</td>
                    </tr>

                    <tr>
                        <td>L1</td>
                        <td>Pozo 4</td>
                        <td>VEX 01 #6</td>
                        <td>VEX 02 #7</td>
                        <td>Amín Abel - Joaquín Balaguer</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 5</td>
                        <td>VEX 01 #8</td>
                        <td>VEX 02 #9</td>
                        <td>Joaquín Balaguer - Casandra Damirón</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 6</td>
                        <td>VEX 01 #10</td>
                        <td>VEX 02 #11</td>
                        <td>Casandra Damirón - Juan Bosch</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 7</td>
                        <td>VEX 01 #12</td>
                        <td>VEX 02 #13</td>
                        <td>Juan Bosch - Juan Pablo Duarte</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 8</td>
                        <td>VEX 01 #14</td>
                        <td>VEX 02 #15</td>
                        <td>Juan Pablo Duarte - Peña Batle</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 9</td>
                        <td>VEX 01 #16</td>
                        <td>VEX 02 #17</td>
                        <td>Peña Batle - Pedro Livio Cedeño</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 10</td>
                        <td>VEX 01 #18</td>
                        <td>VEX 02 #19</td>
                        <td>Pedro Livio Cedeño - Los Tainos</td>
                    </tr>

                    <tr>
                        <td>L 1</td>
                        <td>Pozo 11</td>
                        <td>VEX 01 #20</td>
                        <td>VEX 02 #21</td>
                        <td>Los Tainos - Máximo Gómez</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 8</td>
                        <td>VEX 01 #1</td>
                        <td>VEX 02 #2</td>
                        <td>María Montez - Pedro F. Bonó</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 9</td>
                        <td>VEX 01 #3</td>
                        <td>VEX 02 #4</td>
                        <td>Pedro F. Bonó - Francisco G. Billini</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 10</td>
                        <td>VEX 01 #5</td>
                        <td>VEX 02 #6</td>
                        <td>Francisco G. Billini - Ulises F. Espaillat</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 11</td>
                        <td>VEX 01 #7</td>
                        <td>VEX 02 #8</td>
                        <td>Ulises F. Espaillat - Pedro Mir</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 12</td>
                        <td>VEX 01 #9</td>
                        <td>VEX 02 #10</td>
                        <td>Pedro Mir - Freddy B. Goico</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 13</td>
                        <td>VEX 01 #11</td>
                        <td>VEX 02 #12</td>
                        <td>Freddy B. Goico - Juan U. Garcia Saleta</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 14</td>
                        <td>VEX 01 #13</td>
                        <td>VEX 02 #14</td>
                        <td>Juan U. Garcia Saleta - Juan Pablo Duarte</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 15</td>
                        <td>VEX 01 #15</td>
                        <td>VEX 02 #16</td>
                        <td>Juan Pablo Duarte - Cnel. Rafael Fernández</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 16</td>
                        <td>VEX 01 #17</td>
                        <td>VEX 02 #18</td>
                        <td>Cnel. Rafael Fernández - Mauricio Báez</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 17</td>
                        <td>VEX 01 #19</td>
                        <td>VEX 02 #20</td>
                        <td>Mauricio Báez - Ramón Cáceres</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 18</td>
                        <td>VEX 01 #21</td>
                        <td>VEX 02 #22</td>
                        <td>Ramón Cáceres - Horacio Váquez</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 19</td>
                        <td>VEX 03 #23</td>
                        <td>VEX 04 #24</td>
                        <td>Horacio Váquez - Manuel de js. Galván</td>
                    </tr>

                    <tr>
                        <td>L 2</td>
                        <td>Pozo 20</td>
                        <td>VEX 05 #25</td>
                        <td>VEX 06 #26</td>
                        <td>Manuel de js. Galván - Eduardo Brito</td>
                    </tr>


                </tbody>
            </table>


        </div>
    </div>
</div>