<div class="tab-pane fade" id="v-pills-grupoenergia" role="tabpanel"
     aria-labelledby="v-pills-grupoenergia-tab">
    <div class="card ">
        <h5 class="card-header text-white ">Grupo de energía</h5>
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center;">Grupo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>10</td>
                        <td>Alimenta los servicios auxiliares de la SET, ejemplo: ventilación</td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>Grupo que alimenta el transformador de tracción a 21 kv.</td>
                    </tr>

                    <tr>
                        <td>11-1<br>11-2</td>
                        <td>Son grupos rectificadores que reciben alimentación del transformador de tracción.</td>
                    </tr>

                    <tr>
                        <td>11-3</td>
                        <td>Es la interconexión entre los grupos rectificadores (11-1 & 11-2) y los grupos 76 & 77 (hace función de interruptor).</td>
                    </tr>

                    <tr>
                        <td>76<br>77<br>78</td>
                        <td>Son los grupos que alimentan la catenaria. (78 solo playa de vía).</td>
                    </tr>

                    <tr>
                        <td>500</td>
                        <td>El grupo 500 vigila la tensión tierra carril y ejecuta la protección de fallo estructura.</td>
                    </tr>

                    <tr>
                        <td>31</td>
                        <td>Es el grupo que alimenta el tranformador de servicios auxiliares a 21kv.</td>
                    </tr>

                    <tr>
                        <td>21<br>22<br>23<br>24<br>25</td>
                        <td>Son grupos de interconexión entre subestaciones (solo interconexiones de SET).</td>
                    </tr>

                    <tr>
                        <td>15<br>16</td>
                        <td>Grupo de interconexión de SEA y SET, y solo tenemos entre SET UASD, SET ISABELA y SET 9.</td>
                    </tr>

                    <tr>
                        <td>65</td>
                        <td>Es el grupo de la interconexión entre la SET y el anillo de CT's.</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>