<div class="tab-pane fade" id="v-pills-altoimpacto" role="tabpanel"
     aria-labelledby="v-pills-altoimpacto-tab">

    <div class="card">
        <h5 class="card-header text-white Card-cabecera ">Alto Impacto</h5>
        <div class="card-body">
            <h1>Proceso ante averias de alto impacto</h1>
            <p><strong>Con la intención de hacer un mejor desenvolvimiento ante averías de esta magnitud se procederá de la siguiente manera:</strong></p>
            <p>
                Se anotarán todos los tiempos y acciones cronológicamente desde la llamada desde el PMC o ubicación hasta la última persona que se llame y la finalización de la avería, en la App del CGI, a parte del proceso normal (hora de averías, notificación, inicio de los trabajos, etc. que ya tienen sus celdas, hay que ponerlo en las dos partes), recuerdo que los tiempos que se toman son los del CGI no los del PMC a la hora de notificación ya que somos los responsables de eso, por tal motivo no importa que ellos se hayan comunicado con el contratista, aunque ellos lo hayan hecho nos comunicaremos también y a la mayor brevedad.

                Se debe de informar muy claramente que es una avería de alto impacto y el impacto que esta está ejerciendo sobre la línea (suspensión del servicio, autorizaciones desde el PMC, pérdida de energía, etc), solicitar que el personal llegue lo más rápido posible y hacer llamadas de continuidad al contratista hasta que llegue al lugar de la avería haciendo llamadas aproximadamente cada diez minutos o el tiempo que sea prudente.
            </p>
            <h4><u>Señalización</u></h4>

            <br />

            <h5 class="text-danger">Motores/Cambia vía L1 y Deposito, llamar a:</h5>
            <p>1-SIEMENS Señalización</p>
            <p>2-ASCH</p>
            <br />

            <p><b>Preguntas:</b></p>
            <p>Da comprobación al desvio y a la recta ? </p>
            <p>Es permanente o momentanea ?</p>

            <p><b>Ejemplo:</b></p>
            <p>Cambia via CE-07205 no da comprobación al desvió de manera momentánea.</p>

            <br />

            <h5 class="text-danger">Motores/Cambia vía L2, llamar a:</h5>
            <p>1-THALES Señalización</p>
            <p>2-ASCH</p>
            <br />
            <p><b>Preguntas:</b></p>
            <p>Da comprobación al desvio y a la recta ? </p>
            <p>Es permanente o momentanea ?</p>

            <p><b>Ejemplo:</b></p>
            <p>Cambia via CE-07205 no da comprobación a la recta de manera permanente.</p>

            <br />

            <h5 class="text-danger">Motores/Cambia vía de THALES en L1 CJK-106 y CJK-104, llamar a:</h5>
            <p>1-THALES Señalización</p>
            <p>2-ASCH</p>

            <br />

            <h5 class="text-danger">Señales L1, llamar a:</h5>
            <p>1-SIEMENS Señalización</p>
            <br />

            <p><b>Preguntas:</b></p>
            <p> En que aspecto se visualiza en el sistema y en fisico ? </p>

            <p><b>Ejemplo:</b></p>
            <p>Señal SNO-103 Se visualiza en gris en el sistema y en fisico en rojo.</p>

            <br />
            <h5 class="text-danger">Señales L2, llamar a:</h5><br />
            <p>1-THALES Señalización</p>

            <br />
            <p><b>Preguntas:</b></p>
            <p> En que aspecto se visualiza en el sistema y en fisico ? </p>

            <p><b>Ejemplo:</b></p>
            <p>Señal SNO-103 en aspecto gris, SCO-103 rojo, SLI-101 en gris.</p>

            <br />
            <h5 class="text-danger">Cuenta Ejes L1, L2, llamar a:</h5>
            <p>1-SIEMENS Señalización</p>

            <br />

            <p><b>Preguntas:</b></p>
            <p>1- cual es el tramo de via ? </p>
            <p>2- Es permanente o monentanea ?</p>
            <p>3- si fue momentanea, Se reestablecio con el paso del siguiente tren ?</p>
            <p>dependiendo si fue o no permanente, Hay retraso o hubo retraso en la linea ?</p>

            <p><b>Ejemplo:</b></p>
            <p> Falsa ocupación momentánea en los circuito de via DVE 14-207 - DVE 14-209.</p>

            <br />

            <h5 class="text-danger">Cuenta Ejes del depósito, llamar a:</h5>
            <p>1-THALES Señalización</p>
            <p>2-SIEMENS Señalización (Para que estén pendiente ante cualquier situación que se pueda presentar)</p>

            <br />

            <p><b>Preguntas:</b></p>
            <p> cual es el tramo de via ? </p>
            <p>Es permanente o monentanea ?</p>
            <p> si fue momentanea, Se reestablecio con el paso del siguiente tren ?</p>
            <p>dependiendo si fue o no permanente, Hay retraso o hubo retraso en la linea ?</p>

            <p><b>Ejemplo:</b></p>
            <p> Falsa ocupación BE14-207 BE14-209.(fue restablecido con el paso del primer tren)</p>

            <br />

            <h5 class="text-danger">ATS, llamar a:</h5>
            <p>1-THALES Señalización</p>

            <br />

            <h4><u>Electrificación</u></h4>

            <br />

            <h5 class="text-danger">CT, 2 transformadores fuera, llamar a:</h5>
            <p>1-ATSO</p>
            <p>2-EXERGIA</p>

            <br />

            <h5 class="text-danger">SET, llamar a:</h5>
            <p>1-ATSO</p>
            <p>2-EXERGIA (Para que estén pendiente ante cualquier situación que se pueda presentar)</p>


            <br />

            <h5 class="text-danger">Catenaria, llamar a:</h5>
            <p>ATSO</p>

        </div>
    </div>



</div>
