<div class="tab-pane fade" id="v-pills-servidoresticketing" role="tabpanel"
     aria-labelledby="v-pills-servidoresticketing-tab">

    <div class="card ">
        <h5 class="card-header text-white ">Servidores Ticketing</h5>
        <div class="card-body">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>Servidores</th>
                        <th>Descripción</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>
                        <td>RSS_1</td>
                        <td>Desde Centro de los Héroes hasta Juan Pablo Duarte L-1</td>
                    </tr>

                    <tr>
                        <td>RSS_2</td>
                        <td>Desde Peña Battle hasta Hermanas Mirabal</td>
                    </tr>

                    <tr>
                        <td>RSS_3</td>
                        <td>Desde Peña Gomez hasta Mama Tingo</td>
                    </tr>

                    <tr>
                        <td>RSS_4</td>
                        <td>Desde Los Alcarrizos hasta Manoguayabo (No instalado)</td>
                    </tr>

                    <tr>
                        <td>RSS_5</td>
                        <td>Desde María Montez hasta Juan Pablo Duarte L-2</td>
                    </tr>

                    <tr>
                        <td>RSS_6</td>
                        <td>Cnel, Rafael Fernandez Dominguez hasta Eduardo Brito</td>
                    </tr>

                    <tr>
                        <td>RSS_7</td>
                        <td>Desde Ercilia Pepín hasta Concepción</td>
                    </tr>

                    <tr>
                        <td>RSS_8</td>
                        <td>Desde T1 hasta T4</td>
                    </tr>


                </tbody>
            </table>



        </div>
    </div>

</div>