@using Microsoft.AspNetCore.Identity;
@using Agendatelefonica.ViewModels;
@model IEnumerable<ElectromecanicaView>;
@{
    Layout = null;


}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css " asp-append-version="true" />
    <link rel="icon" href="/img/icono-agenda.png">
    <title>AgendaTelefonica</title>
</head>





<body id="body">

    <div class="loading" id="loading">

        <span class="loader"></span>
    </div>



    <div class="container-fluid g-0 overflow-hidden " id="container-fluid">


        <div class="row  ">



            <!--Menu lateral-->
            <div class="col-12 col-lg-2 ">



                <div class="bg-dark contenedor-menu-lateral pt-lg-3 d-flex justify-content-center ">



                    <!--- Area de Links del menu lateral-->


                    <div class="nav nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">


                        <ul class="nav nav-pills d-lg-flex flex-lg-column justify-content-center justify-content-lg-start " id="menu">

                            <li class="w-100 px-5 px-lg-2">
                                <div class="text-center text-uppercase border-bottom border-white mostrar-usuario mt-2 mb-3">
                                    <p class="text-white-50 ">

                                        @User.Identity.Name


                                    </p>
                                </div>
                            </li>

                            <!---Home-->
                            <li class="  my-lg-3   ">

                                <a href="#" class=" nav-link active " id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    <i class="fa-solid fa-house"></i><span class="ms-2 d-none d-md-inline ">Home</span>
                                </a>
                            </li>

                            <!---Instruciones-->
                            <li class="my-lg-3   ">
                                <a href="#" class=" nav-link" id="v-pills-instruciones-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-instruciones" type="button"
                                   role="tab" aria-controls="v-pills-instruciones" aria-selected="false">
                                    <i class="fa-solid fa-sheet-plastic"></i><span class="ms-2 d-none d-md-inline ">Instruciones</span>
                                </a>
                            </li>

                            <!---Averias alto impacto-->
                            <li class="my-lg-3  ">
                                <a href="#" class=" nav-link" id="v-pills-altoimpacto-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-altoimpacto" type="button"
                                   role="tab" aria-controls="v-pills-altoimpacto" aria-selected="false">
                                    <i class="fa-solid fa-triangle-exclamation"></i><span class="ms-2 d-none d-md-inline ">Alto Impacto</span>
                                </a>
                            </li>

                            <!---Grupo de energia-->
                            <li class="my-lg-3  ">
                                <a href="#" class=" nav-link" id="v-pills-grupoenergia-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-grupoenergia" type="button"
                                   role="tab" aria-controls="v-pills-grupoenergia" aria-selected="false">
                                    <i class="fa-solid fa-bolt"></i><span class="ms-2 d-none d-md-inline ">Grupo de energía</span>
                                </a>
                            </li>

                            <!---Trasporte Vertical-->
                            <li class="my-lg-3  ">
                                <a href="#" class=" nav-link" id="v-pills-transportevertical-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-transportevertical" type="button"
                                   role="tab" aria-controls="v-pills-transportevertical" aria-selected="false">
                                    <i class="fa-solid fa-elevator"></i><span class="ms-2 d-none d-md-inline ">Trasporte Vertical</span>
                                </a>
                            </li>

                            <!---Servidores Ticketing-->
                            <li class="my-lg-3 ">
                                <a href="#" class=" nav-link" id="v-pills-servidoresticketing-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-servidoresticketing" type="button"
                                   role="tab" aria-controls="v-pills-servidoresticketing" aria-selected="false">
                                    <i class="fa-solid fa-server"></i><span class="ms-2 d-none d-md-inline ">Servidores Ticketing</span>
                                </a>
                            </li>

                            <!---Pozos de Ventilacion-->
                            <li class="my-lg-3  ">
                                <a href="#" class=" nav-link" id="v-pills-pozosventilacion-tab"
                                   data-bs-toggle="pill" data-bs-target="#v-pills-pozosventilacion" type="button"
                                   role="tab" aria-controls="v-pills-pozosventilacion" aria-selected="false">
                                    <i class="fa-solid fa-fan"></i><span class="ms-2 d-none d-md-inline ">Pozos de Ventilación</span>
                                </a>
                            </li>
                            <!--Salir-->
                            <li class="my-lg-3 ">

                                <a asp-action="Logout" asp-controller="Acceso" class=" nav-link">
                                    <i class="fa-solid fa-right-from-bracket"></i><span class="ms-2 d-none d-md-inline ">Cerrar Sección</span>
                                </a>



                            </li>




                        </ul>


                    </div>



                </div>

            </div>

            <!----area de secciones del menu lateral a al vez es el Main de la pagina-->

            <div class="col-12 col-lg-10 g-0 px-lg-4  ">

                <main class="row pb-2">

                    <div class="col pt-4">

                        <div class="tab-content g-0" id="v-pills-tabContent">

                           <!--Aqui tenemos todas las vista parciales que contienen el html de cada seccion-->
                            <partial name="./Secciones_Menu/_Seccion_Home" />
                            <partial name="./Secciones_Menu/_Seccion_Instruciones" />
                            <partial name="./Secciones_Menu/_Seccion_AltoImpacto" />
                            <partial name="./Secciones_Menu/_Seccion_GrupoEnergia" />
                            <partial name="./Secciones_Menu/_Seccion_TransporteVertical" />
                            <partial name="./Secciones_Menu/_Seccion_ServidoresTicketing" />
                            <partial name="./Secciones_Menu/_Seccion_PozosVentilacion" />


                        </div>

                    </div>

                </main>
                <footer class="row bg-light py-4 mx-1 rounded-2 ">
                    <div class="col-12 text-success text-center"><strong>&copy; Diseñado por Wilson Garcia Nova</strong> </div>
                </footer>
            </div>


        </div>
    </div>


    <!--aqui tenemos todas las vista parciales que contienen el html de los modales-->

    <partial name="./Modals/_Modals_Estacion" />
    <partial name="./Modals/_Modals_Electromecanica" />
    <partial name="./Modals/_Modals_Usuarios" />
    <partial name="./Modals/_Modals_Mantenedores" />
 




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Sweetalert2.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Electromecanica.js" asp-append-version="true"></script>
    <script src="~/js/Mantenedores.js" asp-append-version="true"></script>
    <script src="~/js/Estaciones.js" asp-append-version="true"></script>
    <script src="~/js/Usuarios.js" asp-append-version="true"></script>
    <script src="~/js/Conexion_SignalR.js" asp-append-version="true"></script>

</body>
</html>


<script asp-append-version="true">




    

   //===========se ejecutan despues de que la ventana haya cargado todo el documento html

    window.onload = function ()
    {

            const loading = document.getElementById("loading");
            loading.style.display = "none";

            const container = document.getElementById("container-fluid");

            container.style.display = "block"



        listarTodos();
    }

    //===========Listar todos ========================

    const listarTodos = () => {


        const url = "Electromecanica/Electromecanica";
        listarElectromecanica(url);

        const urlmantenedor = "Electromecanica/Mantenedores";
        listarMantenedores(urlmantenedor);

        const urlestaciones = "Electromecanica/Estaciones";
        listarEstaciones(urlestaciones);

        const urlusuarios = "Electromecanica/Usuarios";
        listarUsuarios(urlusuarios);
    }






    //--------------Listar Mantenedores------------------------

    function listarMantenedores(urlmantenedor) {


        fetch(urlmantenedor)
            .then(res => res.json())
            .then(data => {

             


                let tbodydataMantenedor = document.getElementById("tbodydataMantenedor");

                let filas = "";




                for (var i = 0; i < data.length; i++) {

                    if (data[i].extension == null) data[i].extension = "";
                    if (data[i].radioTetra == null) data[i].radioTetra = "";


                    filas += `
                        <tr>



                            <td>${data[i].mantenedor}</td>
                            <td>${data[i].nombre}</td>
                            <td>${data[i].funcion}</td>
                            <td>${data[i].telefono}</td>
                            <td>${data[i].extension}</td>
                            <td>${data[i].radioTetra}</td>
                            <td>${data[i].subsistema}</td>



                                  @if (User.IsInRole("Administrador"))
                                    {



                                        <td >

                                             <!-- Button trigger modal  Actualizar-->


                                                  <a href="" onclick="buscarActualizar(${data[i].id})" class="link-primary text-decoration-none"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Actualizar </a>
                                            </td>

                                          <td>
                                        <!-- Button trigger modal  Eliminar-->

                                            <a href="#" onclick="Eliminar(${data[i].id})" class="link-danger text-decoration-none" >Eliminar</a>


                                        </td>


                                    }


                        </tr>

                    `


                }

                tbodydataMantenedor.innerHTML = filas;


            })


    }




    //--------------Listar Electromeanica------------------------//

    function listarElectromecanica(url) {


        fetch(url)
            .then(res => res.json())
            .then(data => {

                let tbodydata = document.getElementById("tbodydata");

                let filas = "";


                for (var i = 0; i < data.length; i++) {

                    filas += `
                        <tr>

                            <td>${data[i].nombre}</td>
                            <td>${data[i].telefono}</td>
                            <td>${data[i].extension}</td>
                            <td>${data[i].correo}</td>
                            <td>${data[i].subsistema}</td>


                            @if (User.IsInRole("Administrador"))
                            {

                                <td>



                                     <!-- Button trigger modal Actualizar-->
                                   <a href="" onclick="buscarActualizar_elect(${data[i].id})" class="link-primary text-decoration-none"  data-bs-toggle="modal" data-bs-target="#modalActualizar_elect">Actualizar</a>



                                </td>

                                <td>


                                    <!-- Button trigger modal Eliminar -->
                                    <a href="#" onclick="Eliminar_elect(${data[i].id})" class="link-danger text-decoration-none" >Eliminar</a>



                                </td>


                            }

                        </tr>

                    `


                }

                tbodydata.innerHTML = filas;


            })


    }



   //--------------Listar Estaciones------------------------//

      function listarEstaciones(url) {


        fetch(url)
            .then(res => res.json())
            .then(data => {



                let tbodydataEstaciones = document.getElementById("tbodydataEstaciones");

                let filas = "";


                for (var i = 0; i < data.length; i++) {

                    if (data[i].cuartoCom == null) data[i].cuartoCom = "";
                    if (data[i].enclavamiento == null) data[i].enclavamiento = "";
                    if (data[i].cuartoAtbt == null) data[i].cuartoAtbt = "";
                    if (data[i].subestacionTraccion == null) data[i].subestacionTraccion = "";
                    if (data[i].cabinaAnden == null) data[i].cabinaAnden = "";
                    if (data[i].pstnEmergencia == null) data[i].pstnEmergencia = "";


                    filas += `
                        <tr>

                            <td>${data[i].linea}</td>
                            <td>${data[i].estacion}</td>
                            <td>${data[i].boleteria}</td>
                            <td>${data[i].cuartoControl}</td>
                            <td>${data[i].cuartoCom}</td>
                            <td>${data[i].enclavamiento}</td>
                            <td>${data[i].cuartoAtbt}</td>
                            <td>${data[i].subestacionTraccion}</td>
                            <td>${data[i].cabinaAnden}</td>
                            <td>${data[i].interfono}</td>
                            <td>${data[i].pstnEmergencia}</td>



                            @if (User.IsInRole("Administrador"))
                            {

                                <td>

                                     <!-- Button trigger modal -->
                                   <a href="" onclick="buscarActualizar_estaciones(${data[i].id})" class="link-primary text-decoration-none"  data-bs-toggle="modal" data-bs-target="#modalActualizar_estacion">Actualizar</a>

                                </td>

                                <td>

                                    <a href="#" onclick="Eliminar_Estaciones(${data[i].id})" class="link-danger text-decoration-none" >Eliminar</a>

                                </td>


                            }

                        </tr>

                    `


                }

                tbodydataEstaciones.innerHTML = filas;


            })


    }





</script>

