<!-- Modal  para actualizar Mantenedor-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Editar Mantenedor</h5>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>

            <form method="post" id="form_ActualizarMantenedor">

                <div class="modal-body row  " id="mant_divpadre_campos_obligatoriosaActualizar">

                    <div class="col-12 mb-3 container-input">


                        <input class="form-control" id="idmantenedor" hidden disabled />

                    </div>

                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Mantenedor</label>
                        <input class="form-control form-control-css mant_campos_obligatoriosActualizar" id="mant_mantenedorActualizar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatoriosActualizar " id="mant_error_mantenedorActualizar"><i class="bi bi-x-circle-fill"></i></span>

                    </div>
                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Nombre</label>
                        <input class="form-control form-control-css mant_campos_obligatoriosActualizar" id="mant_nombreActualizar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatoriosActualizar" id="mant_error_nombreActualizar"><i class="bi bi-x-circle-fill"></i></span>
                    </div>
                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Funcion</label>
                        <input class="form-control form-control-css mant_campos_obligatoriosActualizar" id="mant_funcionActualizar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatoriosActualizar" id="mant_error_funcionActualizar"><i class="bi bi-x-circle-fill"></i></span>
                    </div>
                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Telefono</label>
                        <input class="form-control form-control-css mant_campos_obligatoriosActualizar" id="mant_telefonoActualizar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatoriosActualizar" id="mant_error_telefonoActualizar"><i class="bi bi-x-circle-fill"></i></span>
                    </div>

                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Extension</label>
                        <input class="form-control form-control-css" id="mant_extensionActualizar" />

                    </div>

                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Radio Tetra</label>
                        <input class="form-control form-control-css" id="mant_radioTetraActualizar" />

                    </div>

                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Subsistema</label>
                        <input class="form-control form-control-css mant_campos_obligatoriosActualizar" id="mant_subsistemaActualizar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatoriosActualizar" id="mant_error_subsistemaActualizar"><i class="bi bi-x-circle-fill"></i></span>
                    </div>
                    <div class="col-12 mb-3 container-input ">

                        <div class="alert alert-danger alert-campos-obligatorios" role="alert" id="mantAlert_camposObligatoriosActualizar">
                            <p> Los campos marcados con  <span class="Icono_alerta "><i class="bi bi-x-circle-fill"></i></span>  son requeridos.</p>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="mant_btncerrar_actualizar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>

            </form>


        </div>
    </div>
</div>

<!-- Modal para agrega mantenedor-->
<div class="modal fade " id="modalAgregarMantenedor" data-bs-backdrop="static" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Agregar Mantenedor</h5>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>

            <form method="post" id="formulario">

                <div class="modal-body row" id="mant_divpadre_campos_obligatorios">



                    <div class="col-6 mb-3 container-input icono-error">

                        <label class="form-label">Mantenedor</label>
                        <input class="form-control form-control-css mant_campos_obligatorios " id="mant_mantenedorAgregar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatorios" id="mant_error_mantenedor"><i class="bi bi-x-circle-fill"></i></span>

                    </div>
                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Nombre</label>
                        <input class="form-control form-control-css mant_campos_obligatorios" id="mant_nombreAgregar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatorios" id="mant_error_nombre"><i class="bi bi-x-circle-fill"></i></span>

                    </div>
                    <div class="col-6 mb-3 container-input">

                        <label class="form-label">Funcion</label>
                        <input class="form-control form-control-css mant_campos_obligatorios" id="mant_funcionAgregar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatorios" id="mant_error_funcion"><i class="bi bi-x-circle-fill"></i></span>

                    </div>
                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Telefono</label>
                        <input class="form-control form-control-css mant_campos_obligatorios" id="mant_telefonoAgregar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatorios" id="mant_error_telefono"><i class="bi bi-x-circle-fill"></i></span>

                    </div>
                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Extension</label>
                        <input class="form-control form-control-css" id="mant_extensionAgregar" />


                    </div>

                    <div class="col-6  mb-3 container-input">

                        <label class="form-label">Radio Tetra</label>
                        <input class="form-control form-control-css" id="mant_radiotetraAgregar" />


                    </div>

                    <div class="col-6 mb-3 container-input ">

                        <label class="form-label">Subsistema</label>
                        <input class="form-control form-control-css mant_campos_obligatorios" id="mant_subsistemaAgregar" />
                        <span class="campo_correcto mant_iconoError_campos_obligatorios" id="mant_error_subsistema"><i class="bi bi-x-circle-fill"></i></span>

                    </div>

                    <div class="col-12 mb-3 container-input ">

                        <div class="alert alert-danger alert-campos-obligatorios" role="alert" id="mant_alert_camposObligatorios">
                            <p> Los campos marcados con  <span class="Icono_alerta "><i class="bi bi-x-circle-fill"></i></span>  son requeridos.</p>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" id="Mant_Btncerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>

            </form>
        </div>


    </div>
</div>

